$brand-default: #333 !default;
$brand-primary: #337ab7 !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$border-color: #ccc !default;
$border-color-focus: #66afe9 !default;
$border-radius: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

$font-size: 14px !default;
$line-height: 1.428571429 !default;

$font-size-large: 18px !default;
$line-height-large: 1.677777777 !default;

$font-size-small: 12px !default;
$line-height-small: 1.333333334 !default;