@import "variables";
@import "mixins";

*:before,
*:after {
  box-sizing: border-box;
}

label {
  &.toggle,
  &.checkbox,
  &.radio {
    min-height: unset !important;
    min-height: initial !important;
    font-weight: normal;
    margin-top: 0;
  }

  &.toggle {
    cursor: pointer;
    position: relative;
    text-indent: 10px;
    display: inline-block;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      border: 1px solid $border-color;
    }

    > input[type=radio],
    > input[type=checkbox] {
      position: absolute !important;
      left: 0;
      top: 0;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      outline: none;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        content: "";
        visibility: visible;
        transition: all .1s ease;
        background-color: #fff;
      }

      &:before {
        left: -1px;
        top: -1px;
        border: 1px solid $border-color;
        transform: scale(0);
      }

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 100%;
      }

      &:focus {
        &:before {
          border-color: $border-color-focus;
        }
      }

      &:checked {
        &:before {
          transform: scale(1);
        }

        &:after {
          background-color: #fff !important;
        }
      }
    }

    @include toggle-size($font-size, $line-height);
    @include toggle-color($brand-default);

    &.toggle-lg {
      @include toggle-size($font-size-large, $line-height-large);
    }

    &.toggle-sm {
      @include toggle-size($font-size-small, $line-height-small);
    }

    &.toggle-primary {
      @include toggle-color($brand-primary);
    }

    &.toggle-success {
      @include toggle-color($brand-success);
    }

    &.toggle-info {
      @include toggle-color($brand-info);
    }

    &.toggle-warning {
      @include toggle-color($brand-warning);
    }

    &.toggle-danger {
      @include toggle-color($brand-danger);
    }

    > input[type=radio],
    > input[type=checkbox] {
      &:disabled {
        cursor: not-allowed;

        &:before,
        &:after {
          background-color: $border-color;
        }
      }
    }
  }

  &.radio {
    cursor: pointer;
    position: relative;
    padding-top: 0 !important;
    display: inline-block;
    text-indent: 10px;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      border: 1px solid $border-color;
      border-radius: 100%;
      background-color: #fff;
    }

    > input[type=radio] {
      position: absolute !important;
      left: 0;
      top: 0;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      outline: none;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        content: "";
        visibility: visible;
        left: 0;
        top: 0;
        transition: all .1s ease;
      }

      &:before {
        border-radius: 100%;
        border: 1px solid transparent;
      }

      &:after {
        top: 3px;
        left: 3px;
        bottom: 3px;
        right: 3px;
        border-radius: 100%;
        background-color: transparent;
      }

      &:hover {
        &:after {
          background-color: #e5e5e5;
        }
      }

      &:focus {
        &:before {
          border-color: $border-color-focus;
        }
      }

      &:checked {
        &:before {
          border-color: $brand-default;
        }

        &:after {
          background-color: $brand-default;
        }
      }
    }

    @include radio-size($font-size, $line-height);
    @include radio-color($brand-default);

    &.radio-lg {
      @include radio-size($font-size-large, $line-height-large);
    }

    &.radio-sm {
      @include radio-size($font-size-small, $line-height-small);
    }

    &.radio-primary {
      @include radio-color($brand-primary);
    }

    &.radio-success {
      @include radio-color($brand-success);
    }

    &.radio-info {
      @include radio-color($brand-info);
    }

    &.radio-warning {
      @include radio-color($brand-warning);
    }

    &.radio-danger {
      @include radio-color($brand-danger);
    }

    > input[type=radio]:disabled {
      cursor: not-allowed;

      &:hover {
        &:after {
          background-color: transparent;
        }
      }

      &:checked {
        &:before {
          border-color: $border-color;
        }

        &:after {
          background-color: $border-color;
        }
      }
    }
  }

  &.checkbox {
    cursor: pointer;
    position: relative;
    padding-top: 0 !important;
    display: inline-block;
    text-indent: 10px;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      border: 1px solid $border-color;
      background-color: #fff;
    }

    > input[type=checkbox] {
      position: absolute !important;
      left: 0;
      top: 0;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      outline: none;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        content: "";
        visibility: visible;
        left: 0;
        top: 0;
        transition: all .1s ease;
      }

      &:before {
        border: 1px solid transparent;
      }

      &:after {
        width: 35%;
        height: 75%;
        top: 4%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
      }

      &:hover {
        &:after {
          border-color: #e5e5e5;
        }
      }

      &:focus {
        &:before {
          border-color: $border-color-focus;
        }
      }
    }

    @include checkbox-size($font-size, $line-height, $border-radius);
    @include checkbox-color($brand-default);

    &.checkbox-lg {
      @include checkbox-size($font-size-large, $line-height-large, $border-radius-large);
    }

    &.checkbox-sm {
      @include checkbox-size($font-size-small, $line-height-small, $border-radius-small);
    }

    &.checkbox-primary {
      @include checkbox-color($brand-primary);
    }

    &.checkbox-success {
      @include checkbox-color($brand-success);
    }

    &.checkbox-info {
      @include checkbox-color($brand-info);
    }

    &.checkbox-warning {
      @include checkbox-color($brand-warning);
    }

    &.checkbox-danger {
      @include checkbox-color($brand-danger);
    }

    &.checkbox-inverse {
      > input[type=checkbox] {
        &:checked {
          &:after {
            border-color: #fff;
          }
        }
      }
    }

    > input[type=checkbox]:disabled {
      cursor: not-allowed;

      &:hover {
        &:after {
          border-color: transparent;
        }
      }

      &:checked {
        &:after {
          border-color: $border-color;
        }
      }
    }

    &.checkbox-inverse {
      > input[type=checkbox]:disabled {
        &:checked {
          &:before {
            background-color: $border-color;
          }

          &:after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
